* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.container {
    margin: 0 auto;
    width: 1440px;

}

header {

    padding: 32px 0;
    padding-left: 200px;
    margin-bottom: 32px
}


.head__nav ul {
    position: absolute;
    position: fixed;

    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
}


.head__nav--logo {
    padding-right: 20px;
}

.head__nav--logo:hover {
    opacity: 0.8;
}

.head__nav--logo:active {
    opacity: 0.6;
}

.head__nav--button a {
    background-color: #101010;
    margin-left: 497px;
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 6px;
}

.head__nav--button a:hover {
    transition: 0.6s;
    background-color: white;
    color: #1AAB7B;
    border: solid 1px #1AAB7B;
}

.head__nav--button a:active {
    background-color: #101010;
    color: white;
    opacity: 0.6;

}

.head__nav--press a:active {
    color: #1AAB7B;
    opacity: 0.6;
}

.head__nav--press a {
    color: #101010;
    font-size: 16px;
}


.head__nav--press a:hover {
    color: #1AAB7B;
    transition: 0.3s;
}

.head__nav--press a:active {
    color: #1AAB7B;
    opacity: 0.6;
}



main {

    padding-top: 92px;
}

.section {
    display: flex;
    column-gap: 74px;
    justify-content: center;


}

.section__box h1 {


    font-size: 56px;
    color: #101010;

}


.section__box--button2 {
    padding: 20px 40px;
    background: #1AAB7B;
    border-radius: 6px;
    color: white;

}

.section__box--button2:hover {
    background-color: #FFFFFF;
    transition: 0.6s;
    color: #1AAB7B;
    border: solid 1.5px #1AAB7B;
}

.section__box--button2:active {
    background-color: #1AAB7B;
    opacity: 0.7;
    color: white;
}

.section__box--context {
    color: #636F87;
    font-size: 18px;
}

.section__box--learn {
    padding-top: 40px;
    padding-bottom: 176px;
}

.section__box--video {
    border-radius: 6px;
}




.section2 {
    background-color: #F5F5F5;
}


.section2__box {

    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
    justify-content: center;
    padding-bottom: 64px;
    /* justify-content: space-around; 

}

.section2--name {
    font-size: 36px;
    text-align: center;
    padding: 50px 0 40px 0;
}

.section2__boxx:hover {
    background-color: #1AAB7B;
    transition: 0.8s;
    color: white;
}

.section2__box:hover strong {
    color: white;
}

.section2__box:hover img {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border-radius: 50%;
}

.section2__box:hover p {
    color: #FFFFFF;
}

.section2__box:hover a {
    color: #FFFFFF;
    text-decoration-line: underline;
}

.section2__boxx {
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 20px 30px;
    width: 354px;
    border-radius: 6px;
    border: 2px solid #E1E7ED;
    background-color: #F2F4F6;


}

.section2__boxx--strong {
    font-size: 32px;
    color: #101010;
}

.section2__boxx--context {
    color: #636F87;
    font-size: 18px;
    padding-bottom: 50px;
    padding-right: 30px;
}

.section2__boxx--link {
    flex: auto;
    font-size: 20px;
    padding-bottom: 45px;
}

.section2__boxx--teg {
    color: black;

}

.section2__boxx--png {
    padding-right: 30px;
}


.section3 {
    padding-top: 100px;
    padding-bottom: 200px;


}

.requirement {
    text-align: center;
    font-size: 36px;
    padding-bottom: 16px;


}

.requirement2 {
    text-align: center;
    font-size: 18px;
    color: #636F87;
    padding-bottom: 90px;
}

.section3__boxx {
    display: flex;
    padding-left: 112px;
    padding-bottom: 100px;

}

.section3__boxx--reverse {
    display: flex;
    padding-right: 112px;
    /* flex-wrap: wrap; 
    flex-direction: row-reverse;
    padding-bottom: 100px;
}

.section3__boxx--reverse p {
    font-size: 18px;
    color: #636F87;
    padding-top: 20px;
    width: 488px;
}

.section3__boxx strong {
    font-size: 40px;
    padding-left: 32px;
    padding-top: 86px;
}

.section3__boxx--reverse strong {
    padding-right: 32px;
    font-size: 40px;
}

.section3__boxx p {
    font-size: 18px;
    color: #636F87;
    padding-top: 20px;
    width: 488px;
}

.requirementt {
    text-align: center;
    font-size: 36px;
    padding-bottom: 16px;
    padding-top: 150px;


}

.requirementt2 {
    text-align: center;
    font-size: 18px;
    color: #636F87;
    padding-bottom: 90px;
}


.wrapper {
    margin: 0 auto;
    width: 1008px;
    height: 515px;
    background: #F2F4F6;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.wrapper .input-data {
    height: 40px;
    width: 40%;
    position: relative;

}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input:focus~label,
.input-data input:valid~label {
    transform: translateY(-30px);
    font-size: 15px;
    color: #4158d0;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10 px;
    font-size: 20px;
    left: 0;
    color: black;
    pointer-events: none;
    transition: all 0.6s ease;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;

}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100px;
    background: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before {
    transform: scaleX(1);


}

.px {
    color: #858EA1;
    font-size: 16px;
}

.send {
    padding: 20px 70px;
    background-color: #1AAB7B;
    color: white;
    font-size: 16px;
    border-radius: 6px;
}


.hard {
    margin-bottom: 72px;
    margin-top: 60px;
    margin-left: 312px;


}

.hard2 {
    margin-bottom: 72px;
    margin-left: 312px;

}

.hard3 {
    margin-bottom: 61px;
    margin-left: 312px;

}

.hard4 {
    text-align: center;
}

.hard4 button {
    margin-bottom: 24px;
}


footer {
    background-color: #101010;
    padding-top: 100px;

}

.footer__box {
    display: flex;

    padding-bottom: calc(100px - 26px);

}

.footer__box_boxx {
    padding-left: 112px;
}

.real {
    padding-left: 151px;
    padding-right: calc(461px - 112px);
}

.footer-list li {
    padding-bottom: 26px;

}

.footer-list {
    padding-top: 30px;
}

.main_link {
    padding-top: 8px;
}

.main_link a {

    padding-right: 45px;
}

.footer-item a {
    color: #A1A8B7;
    font-size: 18px;
}

.footer-item a:hover {
    color: #1AAB7B;
}

.footer-heading {
    color: white;
    font-size: 20px;
}

.finish {
    display: flex;
    align-items: center;
    padding: 50px 0;

}

.finish span {
    color: white;
    font-size: 18px;
}

.finish img {
    padding-left: 112px;
    padding-right: 960px;
}

.finish img:hover {
    opacity: 0.8;
}

.finish img:active {
    opacity: 0.6;
} 